version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: springuser
      POSTGRES_PASSWORD: springpass
      POSTGRES_DB: springdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - blognet

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8089:8080"   # access via http://localhost:8089
    networks:
      - blognet
    depends_on:
      - postgres

volumes:
  postgres_data:

networks:
  blognet:
    driver: bridge
